$fontFamily: 'Inter', sans-serif;
$fontFamilyAdditional: 'Montserrat', 'Arial', sans-serif;
$fontSize: 16px;

$minWidthContainer: 320px;
$maxWidthContainer: 1170px;
$paddingContainer: 0 15px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$xs: 576px;

$bodyBG: #0E1014;
$textColor: #e4e5ea;
$titleColor: #656566;

$buttonColor: #4077F3;
$buttonHoverColor: #3564CF;